<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>主界面</title>
	
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{static/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{static/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{static/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{static/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{static/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{static/assets/js/Lightweight-Chart/cssCharts.css}"/>
    
</head>
<body>
    <div id="wrapper">
    	<!-- 开始导航栏模块 -->
        <nav class="navbar navbar-default top-navbar" role="navigation">
        	<!-- 开始upload-system模块 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" th:href="@{ui-elements.html}"><i class="large material-icons">insert_chart</i> <strong>upload-system</strong></a>
				
				<div id="sideNav" th:href="@{#}"><i class="material-icons dp48">toc</i></div>
            </div>
			<!-- 结束upload-system模块 -->
            <ul class="nav navbar-top-links navbar-right"> 
				<li><a class="dropdown-button waves-effect waves-dark" th:href="@{#!}" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button waves-effect waves-dark" th:href="@{#!}" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>张三</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
	
		<ul id="dropdown1" class="dropdown-content">
			<li><a th:href="@{#}"><i class="fa fa-user fa-fw"></i> 个人信息</a>
			</li> 
			<li><a th:href="@{#}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
			</li>
		</ul>
		<ul id="dropdown2" class="dropdown-content w250">
			
			<li >
				<a th:href="@{#}">
					<div>
						<i class="fa fa-envelope fa-fw"></i> 未处理信息
						<span class="pull-right text-muted small">10</span>
					</div>
				</a>
			</li>
		</ul>
		</div>
		<!-- 结束导航栏模块 -->
	   <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    
                    <li>
                        <a th:href="@{ui-elements.html}" class="active-menu  waves-effect waves-dark"><i class="fa fa-desktop"></i> 主界面</a>
                    </li>
					<li>
                        <a th:href="@{chart.html}" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 事件初报</a>
                    </li>
                                 
                    <li>
                        <a th:href="@{table.html}" class="waves-effect waves-dark"><i class="fa fa-table"></i> 值班安排</a>
                    </li>
                    <li>
                        <a th:href="@{form.html}" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 交班安排 </a>
                    </li>
					<li>
                        <a class="waves-effect waves-dark" th:href="@{index.html}"><i class="fa fa-dashboard"></i> 统计分析</a>
                    </li>
					<li>
                        <a class="waves-effect waves-dark" th:href="@{#}"><i class="fa fa-edit"></i> 用户管理</a>
                    </li>
                         
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
			<div class="header"> 
				<h1 class="page-header">
					主界面
				</h1>
					<!-- 小导航栏  -->
					<ol class="breadcrumb">
					  <li><a th:href="@{#}">主界面</a></li>
					  <li class="active">事件列表展示</li>
					</ol> 									
			</div>
			
			<div class="col-md-12">
				<div class="card"> 
									
					<div class="card-content"> 

					   <div style="margin-top: 10px;">
							
							<div class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">事件类型 <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a th:href="@{#}">群体事件</a></li>
								<li><a th:href="@{#}">斗殴事件</a></li>
								<li><a th:href="@{#}">抢劫事件</a></li>
								<li class="divider"></li>
								
							  </ul>
							</div>
							<div style="margin:5px;" class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle">事件等级 <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a th:href="@{#}">一级事件</a></li>
								<li><a th:href="@{#}">二级事件</a></li>
								<li><a th:href="@{#}">三级事件</a></li>
								<li class="divider"></li>
								
							  </ul>
							</div>
						   <div style="margin:5px;" class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">区域 <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a th:href="@{#}">金牛区</a></li>
								<li><a th:href="@{#}">武侯区</a></li>
								<li><a th:href="@{#}">成华区</a></li>
								<li class="divider"></li>
								
							  </ul>
							</div>
							<div style="margin:5px;" class="btn-group">
							  <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">事件状态 <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a th:href="@{#}">未处理</a></li>
								<li><a th:href="@{#}">处理中</a></li>
								<li><a th:href="@{#}">结束</a></li>
								<li class="divider"></li>
								
							  </ul>
							</div>
							
				<div class="card">
                        <div class="card-action">
                            <strong class="left">事件列表</strong>
							<a th:href="@{table.html}" class="waves-effect waves-light btn right">添加事件</a>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="center">事件名</th>
                                            <th class="center">事件类型</th>
                                            <th class="center">事件等级</th>
                                            <th class="center">地区</th>
                                            <th class="center">报警人</th>
                                            <th class="center">报警人电话</th>
                                            <th class="center">事件状态</th>
                                            <th class="center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center">杀人蜂事件</td>
                                            <td class="center">动物</td>
                                            <td class="center">3级</td>
                                            <td class="center">卧龙岗</td>
                                            <td class="center">妞妞</td>
                                            <td class="center">13712938642</td>
                                            <td class="center">未上报</td>
                                            <td class="col-md-4">
												<a th:href="@{table.html}" class="waves-effect waves-light btn">删除</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">修改</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">上报</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">查看</a>
											</td>
                                        </tr>
                                        <tr>
                                            <td class="center">滇西偷窃事件</td>
                                            <td class="center">盗窃</td>
                                            <td class="center">3级</td>
                                            <td class="center">春熙路</td>
                                            <td class="center">张三</td>
                                            <td class="center">12382736481</td>
                                            <td class="center">未上报</td>
                                            <td class="col-md-4">
												<a th:href="@{table.html}" class="waves-effect waves-light btn">删除</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">修改</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">上报</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">查看</a>
											</td>
                                        </tr>
                                        <tr>
                                            <td class="center">青羊区火灾事件</td>
                                            <td class="center">火灾</td>
                                            <td class="center">3级</td>
                                            <td class="center">青羊区88号</td>
                                            <td class="center">王大妈</td>
                                            <td class="center">1242221214</td>
                                            <td class="center">已上报</td>
                                            <td class="col-md-4">
												<a th:href="@{table.html}" class="waves-effect waves-light btn">查看</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">续报</a>
											</td>
                                        </tr>
                                        <tr>
                                            <td class="center">朗沃学生罢课事件</td>
                                            <td class="center">罢课事件</td>
                                            <td class="center">3级</td>
                                            <td class="center">共和村88号</td>
                                            <td class="center">胡一可</td>
                                            <td class="center">12378394738</td>
                                            <td class="center">已上报</td>
                                            <td class="col-md-4">
												<a th:href="@{table.html}" class="waves-effect waves-light btn">查看</a>
												<a th:href="@{table.html}" class="waves-effect waves-light btn">续报</a>
											</td>
                                        </tr>
                                        <tr>
                                            <td class="center">四川大学学生游行事件</td>
                                            <td class="center">游行事件</td>
                                            <td class="center">2级</td>
                                            <td class="center">四川大学</td>
                                            <td class="center">张治中</td>
                                            <td class="center">13789237328</td>
                                            <td class="center">已结束</td>
                                            <td class="col-md-4">
												<a th:href="@{table.html}" class="waves-effect waves-light btn">查看</a>
											</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </div>						
				  </div> 
				</div>
			  </div>
            </div>
			
			<!-- 页脚  -->
			<footer>
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" th:href="@{http://sc.chinaz.com/moban/}">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</footer>
     </div>
            <!-- /. PAGE INNER  -->
<!--         </div> -->
        <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{static/assets/js/jquery-1.10.2.js}"></script>
	
	<!-- Bootstrap Js -->
    <script th:src="@{static/assets/js/bootstrap.min.js}"></script>
	
	<script th:src="@{static/assets/materialize/js/materialize.min.js}"></script>
	
    <!-- Metis Menu Js -->
    <script th:src="@{static/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{static/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{static/assets/js/morris/morris.js}"></script>
	
	
	<script th:src="@{static/assets/js/easypiechart.js}"></script>
	<script th:src="@{static/assets/js/easypiechart-data.js}"></script>
	
	<script th:src="@{static/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
	
    <!-- Custom Js -->
    <script th:src="@{static/assets/js/custom.js}"></script> 
 

</body>

</html>